.product {
  width: 23%;
  margin: 5px 0px;
  height: var(--product-height);
}

.product-inner {
  display: block;
  height: 100%;
  width: 100%;
  color: #000;
  overflow: hidden;
  text-align: center;
  /* background-color: red; */
}

#burst-8 {
  background: #d31c27;
  width: 40px;
  height: 40px;
  top: 10px;
  left: calc(100% - 50px);
  position: absolute;
  text-align: center;
  transform: rotate(20deg);
}
#burst-8::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background: #d31c27;
  transform: rotate(135deg);
}

#inner-burst {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
  transform: rotate(-21deg);
  color: #ffffff !important;
  width: 100%;
  height: 100%;
  font-weight: bold !important;
  font-size: 0.8rem;
}

.product-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-secondary {
  position: relative;
  bottom: -10px;
  display: flex;
  flex-direction: row !important;
  justify-content: space-evenly !important;
  width: 60%;
  margin: auto;
}

.product-secondary p {
  cursor: pointer;
}

.sales-tooltip {
  position: relative;
  display: inline-block;
}

.sales-tooltip-text {
  position: absolute;
  width: 80px;
  /* padding: 10px; */
  background-color: #fff;
  color: #000;
  visibility: hidden;
  border: 1px solid #d4d4d4;
  z-index: 10;
  bottom: 100%;
  left: 50%;
  margin-left: -40px;
  text-align: left;
  font-size: 11px;
  padding: 2px;
}

.sales-tooltip-text::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #d4d4d4 transparent transparent transparent;
}

.sales-tooltip:hover .sales-tooltip-text {
  visibility: visible;
}

@media screen and (max-width: 550px) {
  .product {
    width: 48%;
  }

  .product-secondary {
    width: 70%;
  }

  #burst-8 {
    background: #d31c27;
    width: 35px;
    height: 35px;
    top: 10px;
    left: calc(100% - 40px);
    position: absolute;
    text-align: center;
    transform: rotate(20deg);
  }
  #burst-8::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background: #d31c27;
    transform: rotate(135deg);
  }
}
